<%= javascript_include_tag '/assets/datafeeds/udf/dist/bundle.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag '/assets/charting_library/charting_library.js', 'data-turbolinks-track': 'reload' %>

<h1>Homes</h1>
<div class="page-tv-chart-container" id="tv_chart_container">
</div>

<%= javascript_include_tag '/assets/tv_chart', 'data-turbolinks-track': 'reload' %>